<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="simplepeer.min.js"></script>
  <script src="socket.js"></script>
<input type="hidden" id="init" value=<%= data[1] %>>
<input type="hidden" id="hissockid" value=<%= data[0] %>>
</head>

<body>


    <table style="border:100px;" id="onlineplayers">
      <th>online</th>
  
    </table>
    <script>
      var hissokid
      var hispos
      var connected = false
      var secplayer
      var myposition = 0
      var init
      var mypeerdata

      var peer = new SimplePeer({
        initiator: document.getElementById("init").value,
        trickle: false,
      })
      
      

      peer.on('signal', function (data) {
        console.log(data)
        socket.emit('peerid', [data, document.getElementById("hissockid").value])
 
      })

      socket.on("reciver", pid => {
        console.log(pid)
      peer.signal(pid)
      connected = true
    })
  
  
      peer.on("data", data => {
        print(data)
  
      })
  
  
      function ball() {
        circle(x, y, 30);
        if (x > width - 15) {
          speed = -2;
        }
        if (x < 15) {
          speed = +2;
        }
        if (y > height - 15) {
          speed2 = -5
        }
        if (y < 15) {
          speed2 = 5
        }
        r = x;
        b = y;
        y = y + speed2;
        x = x + speed;
      }
  
  
      var x = 0, speed = 5, y = 40, speed2 = 5;
  
      function setup() {
        createCanvas(400, 400);
      }
  
  
      function draw() {
        if (connected) {
          background(0);
          fill(155);
          player();
          player2();
          ball();
          //  peer.send(myposition)
        }
      }
  
  
      function player() {
        rect(mouseX - 50, width - 10, 100, 10);
  
        if (mouseX + 50 >= width) {
          rect(width - 100, 490, 100, 10);
        }
        myposition = mouseX
  
      }
  
  
      function player2() {
        rect(hispos - 50, 0, 100, 10);
      }
  

    </Script>
  </body>
  
  </html>
  
  